{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Republica de los fantasmas{% endblock %}</title>
    <!-- start: META -->
    <meta charset="utf-8"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

    <!-- end: META -->
    <!-- start: MAIN CSS -->
    {% block css %}
        {% include 'framing/css.html' %}
    {% endblock %}

    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    {% block extra_css %}
    {% endblock extra_css %}
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

</head>
<body data-spy="scroll" data-target="#xnavspy" style="zoom: 0.8;-moz-transform: scale(0.8);-moz-transform-origin: 0 0;">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '388676368008877',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <!-- Your share button code -->
    <!-- start: NAVIGATION BAR -->
    {% block navbar %}
        {% include  'sections/navbar.html' %}
    {% endblock %}
    <!-- end: NAVIGATION BAR -->

        <!-- start: HEADER -->
        {% block header %}
            {% comment %}{% include  'sections/header.html' %}{% endcomment %}
        {% endblock %}
        <!-- end: HEADER -->
        <!-- start: MAIN CONTAINER -->

        <!-- start: PAGE -->
        {% block content %}
            {% comment %}{% include  'sections/content.html' %}{% endcomment %}
        {% endblock %}
        <!-- end: PAGE -->

        <!-- end: MAIN CONTAINER -->

        <!-- start: FOOTER -->
        {% block footer %}
            {% include 'sections/footer.html' %}
        {% endblock %}
        <!-- end: FOOTER -->

        <!-- start: MAIN JAVASCRIPTS -->
        {% block js %}
            {% include 'framing/js.html' %}
        {% endblock %}

        {% block extra_js %}
        {% endblock extra_js %}
        <!-- end: MAIN JAVASCRIPTS -->

        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

        <script>
            $(document).ready(function () {
            });

        </script>

        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
</body>
<!-- end: BODY -->
<!--page powered by PROJECT Z, Camilo Monsalve Gomez, Cali Colombia, Octubre del 2015, beren.monsalve@gmail.com-->
</html>