{% load staticfiles %}
{% load bootstrap3 %}
<div class="row background_hexagon_header">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="{% static 'ghosttown/img/Home-Logo.svg' %}" style="margin-top: -73px;margin-bottom: 40px;">
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3 home-help-title">
                        obtén tu ciudadanía
                    </div>
                </div>
                <img src="{% static 'ghosttown/img/Home-Form-IDband.svg' %}">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3 home-help-text">
                        Nosotros, los ciudadanos de
                        la República de los
                        fantasmas,
                        en búsqueda de la libertad,
                        constituimos una República
                        donde las fronteras no
                        existen,
                        donde las nacionalidades no
                        se imponen, se construyan,
                        Un lugar donde todos los
                        ciudadanos pudeiéramos
                        participar y crear,
                        Un lugar donde desaparecer
                        es existir.
                    </div>
                </div>

            </div>
<!--HOME REGISTER CARD-->
            <form id="registerForm" method="post" enctype='multipart/form-data' action="{% url 'index' %}" class="form">
                {% csrf_token %}
                {{ user_profile_form.form_name }}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row home-form-card">
                                <div class="col-md-12 home-form-card-title ">
                                    republica de los fantasmas
                                </div>
                                <img src="{% static 'ghosttown/img/Home-Form-DecorativeTab.svg' %}" style="width: 580px;padding-right: 20px;padding-left: 20px;">
                                <div class="col-md-12 home-form-card-sub-title">
                                    identificación personal
                                </div>
                                <div class="col-md-12 home-form-card-band">
                                    ciudadania virtual numero: <span id="id_citizen">{{ user_name }}</span>
                                </div>
                                <div class="col-md-9 home-form-card-form">
                                    {% comment %}{{ user_profile_form }}{% endcomment %}
                                    <div class="row push-down-10">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.first_names.errors.as_text }}" for="id_first_names">Nombres:</label>
                                            {% if user.is_authenticated %}
                                                {{ user_profile_form.instance.first_name }}
                                            {% else %}
                                                {{ user_profile_form.first_names }}
                                            {% endif %}
                                            <hr>
                                        </div>
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.last_names.errors.as_text }}" for="id_last_names">Apellidos:</label>
                                            {% if user.is_authenticated %}
                                                {{ user_profile_form.instance.last_name }}
                                            {% else %}
                                                {{ user_profile_form.last_names }}
                                            {% endif %}
                                            <hr>
                                        </div>
                                    </div>
                                    {% if not user.is_authenticated %}
                                    <div class="row push-down-10">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.password1.errors.as_text }}" for="id_password1">Contraseña:</label>
                                            {{ user_profile_form.password1 }}
                                            <hr>
                                        </div>
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.password2.errors.as_text }}" for="id_password2">Confirmar:</label>
                                            {{ user_profile_form.password2 }}
                                            <hr>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="row push-down-10">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.birth_date.errors.as_text }}" for="id_birth_date">Cumpleaños:</label>
                                            {% if user.is_authenticated %}
                                                {{ user_profile_form.instance.birth_date }}
                                            {% else %}
                                                {{ user_profile_form.birth_date }}
                                            {% endif %}
                                            <hr>
                                        </div>
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.gender.errors.as_text }}" for="id_gender">Genero:</label>
                                            {% if user.is_authenticated %}
                                                {{ user_profile_form.instance.gender_unicode }}
                                            {% else %}
                                                {{ user_profile_form.gender }}
                                            {% endif %}
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row push-down-10">
                                        <div class="col-md-12">
                                            <label data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.email.errors.as_text }}" for="id_email">E-Mail:</label>
                                            {% if user.is_authenticated %}
                                                {{ user_profile_form.instance.email }}
                                            {% else %}
                                                {{ user_profile_form.email }}
                                            {% endif %}
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 home-form-card-form">
                                    <label id="label_avatar" data-toggle="tooltip" data-placement="top" title="{{ user_profile_form.avatar.errors.as_text }}" for="id_avatar">avatar:</label>
                                    {% if user.is_authenticated %}
                                        <img id="imagePreview" src="{{ user_profile_form.instance.avatar.url }}">
                                    {% else %}
                                        <div id="imagePreview"></div>
                                        {{ user_profile_form.avatar }}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row push-down-30">
                        {% if not user.is_authenticated %}
                            <button id="btn-im-citizen" type="button" data-toggle="modal" data-target="#reg-modal" class="">YA SOY CIUDADANO</button>
                            <!-- Modal -->
                            <button id="btn-send-my-request" type="submit" class="">ENVIAR MI SOLICITUD</button>
                        {% else %}
                            <a href="{% url 'logout' %}"><button id="btn-send-my-request" type="button" class="">SALIR</button></a>
                        {% endif %}
                    </div>
                </div>
            </form>
            <div class="modal fade" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="regModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <form id="login-form"  method="post" action="{% url 'index' %}"  class="form">
                                {% csrf_token %}
                                {{ login_form }}
                                <button id="btn-send-my-request" type="submit" class="">INGRESAR</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
<!--end home register card-->
        </div>
    </div>
</div>
<div class="row push-down-90">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>
<div class="row home-constructions-title">
    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <img src="{% static 'ghosttown/img/Seccion2-Title-construcciones.svg' %}" style="margin-top: 45px;margin-bottom: 45px;">
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="row push-down-60">
    <div class="container">
        <div class="col-md-6">
            <div class="row">
                <img src="{% static 'ghosttown/img/Seccion3-Title-HonorablesC.svg' %}">
            </div>
            <div class="row home-avatars">
                <div class="col-md-12">
                    <div class="row push-down-30">
                        {% for user_profile in user_profiles %}
                            <div class="col-md-4">
                                <img class="hexagon" src="{{ user_profile.hexagon_avatar }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row home-gallery">
                {% for image in gallery %}
                    <div class="col-md-4 thumb-home captionable">
                        <img class="" src="{{ image.thumb_home }}" alt="{{ image.caption }}">

                        <a data-toggle="modal" data-target="#myModal{{ image.id }}">
                            <figcaption class="img-title">
                                <h5>{{ image.caption }}</h5>
                            </figcaption>
                        </a>
                    </div>
                    <div class="modal fade modal-thumb-home" id="myModal{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <img class="" src="{{ image.image.url }}" alt="{{ image.caption }}" width="100%">
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="row push-down-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-separator"></div>
        </div>
    </div>
</div>

<div class="row push-down-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'ghosttown/img/Seccion4-Title-Ideologias.svg' %}">
            </div>
        </div>
        <div class="row push-down-30">
            <div class="col-md-12">
                <p class="home-text-ideology">
                    Cras auctor, arcu sed vulputate varius, nibh arcu laoreet risus, accumsan ullamcorper tortor tellus laoreet
                    magna. Maecenas efficitur leo vel tellus iaculis pellentesque. Morbi dignissim tincidunt ipsum dapibus
                    ullamcorper. Quisque ullamcorper vestibulum diam nec commodo. Maecenas pretium lacus et magna porttitor gravida.
                    Phasellus imperdiet ligula lorem, eu porta enim laoreet a. Curabitur dignissim sit amet lectus tincidunt
                    tristique. Ut elementum ac lectus eu aliquam. Aenean lectus metus, dictum ac convallis sit amet, laoreet quis
                </p>
            </div>
        </div>
        <div class="row push-down-60 home-themes">
            <div class="col-md-3">
                <div class="home-glass-image">
                    <img src="{% static 'ghosttown/img/Seccion4-IconExample-1.svg' %}">
                </div>
                <div class="home-theme-title">
                    TEMA 1
                </div>
                <hr>
                <p class="home-theme-text">
                    Cras auctor, arcu sed
                    vulputate varius, nibh
                    arcu laoreet risus,
                    accumsan ullamcorper
                    tortor tellus laoreet.
                </p>
            </div>
            <div class="col-md-3">
                <div class="home-glass-image">
                    <img src="{% static 'ghosttown/img/Seccion4-IconExample-2.svg' %}">
                </div>
                <div class="home-theme-title">
                    TEMA 2
                </div>
                <hr>
                <p class="home-theme-text">
                    Cras auctor, arcu sed
                    vulputate varius, nibh
                    arcu laoreet risus,
                    accumsan ullamcorper
                    tortor tellus laoreet.
                </p>
            </div>
            <div class="col-md-3 ">
                <div class="home-glass-image">
                    <img src="{% static 'ghosttown/img/Seccion4-IconExample-3.svg' %}">
                </div>
                <div class="home-theme-title">
                    TEMA 3
                </div>
                <hr>
                <p class="home-theme-text">
                    Cras auctor, arcu sed
                    vulputate varius, nibh
                    arcu laoreet risus,
                    accumsan ullamcorper
                    tortor tellus laoreet.
                </p>
            </div>
            <div class="col-md-3">
                <div class="home-glass-image">
                    <img src="{% static 'ghosttown/img/Seccion4-IconExample-4.svg' %}">
                </div>
                <div class="home-theme-title">
                    TEMA 4
                </div>
                <hr>
                <p class="home-theme-text">
                    Cras auctor, arcu sed
                    vulputate varius, nibh
                    arcu laoreet risus,
                    accumsan ullamcorper
                    tortor tellus laoreet.
                </p>
            </div>
        </div>
    </div>
</div>
