{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% block title %}Republica de los Fantasmas{% endblock %}

{% block content %}
    {% include  'images/sections/_content.html' %}
{% endblock %}

{% block footer %}
    {% include  'sections/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5YOOUwXpULiYGPoYql-FY-nUES5Tb8dY&callback=initMap"></script>
    <script type="text/javascript">

var map;
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        scrollwheel: false,
        center: {lat: 3.4511595, lng: -76.5145283},
        zoom: 13
    });
    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    {% for mark in marks %}
        var contentString{{ forloop.counter }} = '<img src="{{ mark.image.url }}" width="10px">';
        var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
            content: contentString{{ forloop.counter }}
          });
        var marker{{ forloop.counter }} = new google.maps.Marker({
            position: {lat: {{ mark.position.latitude|unlocalize }}, lng: {{ mark.position.longitude|unlocalize }}},
            map: map,
            icon: iconBase + 'schools_maps.png',
            title: 'Hello World!'
        });

        marker{{ forloop.counter }}.addListener('mouseover', function() {
            infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
          });

    {% endfor %}
}

    function grabMyPosition() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(centerMe);
    } else {
        alert("You don't support this");
    }
}
function centerMe(position) {
    var coords = new google.maps.LatLng(
        position.coords.latitude,
        position.coords.longitude
    );

    map.setCenter(coords);
    // or
    map.panTo(coords);
}
(function($){
        $(window).load(function(){
            $(".home-gallery").mCustomScrollbar({theme:'inset-dark'});
            $(".home-avatars").mCustomScrollbar({theme:'inset-dark'});
        });
    })(jQuery);
$(document).ready( function() {

    $('.captionable').hover( function() {
        $(this).find('.img-title').fadeIn(300);
    }, function() {
        $(this).find('.img-title').fadeOut(100);
    });

    $('label').tooltip('show');

 //for avatar
    $(function() {
        $( "#id_birth_date" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            minDate: "-100Y",
            maxDate: "-17Y"
        });
        $("#id_avatar").hide();
        $("#imagePreview").on('click',function(){
            $("#id_avatar").click();
        });
        $("#id_avatar").on("change", function()
        {
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test( files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function(){ // set image data as background of div
                    $("#imagePreview").css("background-image", "url("+this.result+")");
                }
            }
        });
    });


});
    </script>
{% endblock %}