{% load staticfiles %}
<div class="row  push-down-60">
    <div class="container sponsors">
        <div class="row  push-down-60">
            <div class="col-md-4 col-md-offset-4">
                Una iniciativa apoyada por:
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row push-down-60">
            <div class="col-md-2">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/assets2-34-37.svg' %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/assets2-34-38.svg' %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/assets2-34-39.svg' %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/assets-42.jpg' %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/assets2-34-40.svg' %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/assets2-34-41.svg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row footer push-down-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="logo-sponsors-space">
                    <img class="logo-sponsors" src="{% static 'ghosttown/img/footer-Main-Logo.svg' %}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-contact">
                    <p class="footer-contact-text">
                        Contácta con la República<br>
                        Veronica Lopez<br>
                        <a href="https://www.behance.net/verolitia">https://www.behance.net/verolitia</a> <br>
                        <br>
                        <a href="mailto:republicadelosfantasmas@gmail.com?subject=Contacto">republicadelosfantasmas@gmail.com</a>

                    </p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-contact">
                    <p class="footer-contact-text">
                        <img class="footer-social-images" src="{% static 'ghosttown/img/footer-Facebook.svg' %}">
                        <img class="footer-social-images" src="{% static 'ghosttown/img/footer-googlePlus.svg' %}">
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>