{% load staticfiles %}

<nav id="xnav" class="navbar navbar-default"  data-spy="affix" data-offset-top="{% if request.path == "/building/" %}0{% else %}600{% endif %}">
    <div class="container2">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'ghosttown/img/assets2-42-35.svg' %}" width="100%"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="xnavspy">
            <ul class="nav navbar-nav navbar-right" role="tablist">
                <li><a href="{% if request.path == "/building/" %}{% url 'index' %}{% else %}#republic{% endif %}">La República</a></li>
                <li><a href="{% if request.path == "/building/" %}{% url 'index' %}{% else %}#ideology{% endif %}">Ideologías</a></li>
                <li><a href="{% if request.path == "/building/" %}{% url 'index' %}{% else %}#contributors{% endif %}">Contribuyentes</a></li>
                <li><a href="{% if request.path == "/building/" %}{% url 'index' %}{% else %}#citizenship{% endif %}">Ciudadanía</a></li>
                <li><a href="http://blog.republicadelosfantasmas.co/">Blog</a></li>
                {% if request.user.is_authenticated %}
                    <li class="btn-build-active"><a href="{% if request.path == "/building/" %}#building{% else %}{% url 'image_map_view' %}{% endif %}">Construye</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>