/*FUENTES

font-family: 'Share Tech Mono', ;

font-family: 'IM Fell Great Primer SC', serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Noto Sans', sans-serif;

*/

body {
  position: relative;
}

#home-logo{
    top: 40px;
    z-index: 1;
    position: absolute;
}

.text-header{
    text-align: right;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    top: 25px;
}

#xnav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-default {
    border: none;
    border-radius: 0;
    background: #E3E3DD none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a{
    box-shadow: none;
    /* background: #D3A682 none; */
    text-shadow: none;
    border-radius: 20px;
    height: 25px;
    padding-top: 2px;
    margin-top: 13px;
    border: 1px solid;
}

.navbar-default .navbar-nav>.btn-build-active>a,
.navbar-default .navbar-nav>.btn-build-active>a:focus,
.navbar-default .navbar-nav>.btn-build-active>a:hover,
.navbar-default .navbar-nav>.btn-build-active>a{
    box-shadow: none;
    background: #D3A682 none;
    text-shadow: none;
    border-radius: 20px;
    height: 25px;
    padding-top: 2px;
}
.btn-build-active{
        margin-top: 12px;
}

.center-col{
    float: none;
    margin: 0 auto;
    display: inline-table;
}

.background_hexagon_header{
    height: 110px;
    background: #83867E url("../img/assets2-41.svg");
}

.background_hexagon_header2{

    background: url("../img/Home-Header-Hexagons.svg");
    height: 150px;
    background-color: #E3E3DD;

}

.background_hexagon_build{

    background: url("../img/assets2-41.svg");
    height: 150px;

}

.home-help-title{
    font-family: 'Noto Sans', sans-serif ;
    font-size: 18pt;
    color: #8C7B74;
    text-align: right;
    font-weight: bold;
}

.home-help-text{
    font-family: 'Noto Sans', sans-serif ;
    font-size: 15pt;
    color:  #5E615C;
    text-align: right;
}

.home-form-card{
    border-style: solid;
    border-color: #5E615C ;
    border-width: 3px;
    height: 300px;
    text-align: center;
}

.home-form-card-title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    color: #5E615C;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 4px;
}

.home-form-card-sub-title{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15pt;
    color: #5E615C;
    text-transform: uppercase;
    text-align: center;
}

.home-form-card-band{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15pt;
    color: #8C7B74;
    background-color:  #D3A682;
    text-transform: uppercase;
    text-align: center;
}

.home-form-card-form{
    font-family: 'Noto Sans', sans-serif;
    color: #5E615C;
    font-size: 9pt;
}

.home-form-card-form hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 3px solid #888;
}

#id_first_names{
    width: 105px;
    border: none;
}
#id_last_names{
    width: 105px;
    border: none;
}

#id_password1{
    width: 100px;
    border: none;
}
#id_password2{
    width: 100px;
    border: none;
}

#id_birth_date{
    width: 100px;
    border: none;
}
#id_gender{
    width: 105px;
    border: none;
}
#id_email{
    width: 330px;
    border: none;
}

#label_avatar{
    margin-top: 10px;
}

#btn-send-my-request{
    margin-left: 20px;
    float: right;
    border: 0;
    color: #FFFFFF;
    border-radius: 0;
    width: 280px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    background-color: #D3A682;

}
#btn-im-citizen{
    color: #FFFFFF;
    border: 0;
    border-radius: 0;
    width: 280px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    background-color: #B0B5C5;

}


#imagePreview {
    cursor: pointer;
    width: 105px;
    height: 105px;
    background: url("../img/Home-Form-Icon-AddPhoto.svg") center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

#map{
    width: 100%;
    height: 75vh;
}

.home-constructions-title{
    background-color: #83867E ;
}

.push-down-10{
    margin-top: 10px;
}

.push-down-30 {
    margin-top: 30px;
}

.push-down-60{
    margin-top: 60px;
}

.push-down-90{
    margin-top: 90px;
}

.push-down-140 {
    margin-top: 140px;
}

#btn-build{
    color: #ffffff;
    margin-top: 55px;
    float:right;
    border-radius: 0;
    border: 3px solid white;
    width: 280px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    background-color: #83867E;
}

.home-avatars{
    background-color: #DDCDB0;
    height: 555px;
    margin-top: 25px;
    overflow-y: scroll;
}

.hexagon{
    width: 150px;
    height: 160px;
    background: #1e90ff;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center;
}

.thumb-home{
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumb-home a {
    cursor: pointer;
}

.img-title {
    position: absolute;
    top: 0;
    margin-top: 15px;
    height: 160px;
    width: 160px;
    text-align: center;
    display: none;
    background-color: rgba(29, 33, 33, 0.6);
}

.img-title h5 {
    position: absolute;
    color: #fff;
    top: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 12pt;
    padding: 30px;
}

@media screen and (min-width: 768px) {

	.modal-thumb-home .modal-dialog  {width:900px;}

}

.modal-thumb-home .modal-dialog  {width:80%;}

.modal-content {border-radius: 0px;}

.home-gallery{
    margin-top: -15px;
    height: 750px;
    overflow-y: scroll;
}

.home-gallery::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

.home-gallery::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.home-gallery::-webkit-scrollbar-thumb
{
	background-color: #bababa;
	border-radius: 6px;
}

.home-avatars{
    overflow-y: scroll;
}

.home-avatars::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

.home-avatars::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.home-avatars::-webkit-scrollbar-thumb
{
	background-color: #bababa;
	border-radius: 6px;
}

.home-separator{
    height: 100px;
    background-color: #E3E3DD;
}

.home-text-ideology{
    font-family: 'Noto Sans', sans-serif;
    color: #5E615C;
    padding: 10px;
    font-size: 14pt;
    text-align: justify;
}

.home-themes{
    font-family: 'Noto Sans', sans-serif;
    color: #5E615C;
}

.home-theme-title{
    text-align: center;
    margin-top: 15px;
    font-size: 16pt;
}

.home-theme-text{
    text-align: center;
    margin-top: 15px;
    font-size: 14pt;
}

.home-themes hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 3px solid #eee;
}

.hr-citizenship{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 10px;
    border-top: 5px solid #DADADA;
}

.sponsors{
    border-top-color: #E3E3DD;
    border-top-width: 5pt;
    border-top-style: solid;
    color:#5E615C;
    font-family: 'Share Tech Mono', sans-serif ;
    font-size: 18pt;
}

.logo-sponsors-space{
    position: relative;
    line-height: 300px;
    height:300px;
}

.logo-sponsors{
    position: relative;
    display: inline;
    vertical-align: middle;
    width: 100%;
}

.footer{
    background-color: #5E615C;
    border-top-color: #E3E3DD;
    border-top-width: 5pt;
    border-top-style: solid;
    border-bottom-color: #E3E3DD;
    border-bottom-width: 10pt;
    border-bottom-style: solid;
}

.footer-contact{
    display: table !important;
    height: 300px;
    width: 100%;
}

.footer-contact-text{
    display: table-cell !important;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 14pt;
    color: #FFFFFF;
    vertical-align: middle;
}

.footer> a:focus, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-social-images{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

h6{
    font-size: 100px;
}

.text-building{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #5D5D5D;
}

.form-spaces{

}

.form-spaces div {
    height: 300px;
    background-image: url("../img/assetss-45.svg");
}

#btn-download{
    float: left;
    border: 0;
    color: #FFFFFF;
    border-radius: 0;
    width: 540px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    background-color: #B0B5C5;
}

.geoposition-map{
    border: 10px solid #DDCDB0;
}

.geoposition-search{
        font-size: 15pt;
}
.geoposition-address{
        font-size: 15pt;
}