/*FUENTES

font-family: 'Share Tech Mono', ;

font-family: 'IM Fell Great Primer SC', serif;

font-family: 'Montserrat', sans-serif;
*/
.background_hexagon_header{
    background: url("../img/Home-Header-Hexagons.svg");
    height: 170px;
    background-color: #E3E3DD;
}

.home-help-title{
    font-family: 'Share Tech Mono' ;
    font-size: 18pt;
    color: #8C7B74;
    text-align: right;
}

.home-help-text{
    font-family: 'Share Tech Mono' ;
    font-size: 15pt;
    color:  #5E615C;
    text-align: right;
}

.home-form-card{
    border-style: solid;
    border-color: #5E615C ;
    border-width: 3px;
    height: 300px;
}

.home-form-card-title{
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 20pt;
    color: #5E615C;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.home-form-card-sub-title{
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 15pt;
    color: #5E615C;
    text-transform: uppercase;
    text-align: center;
}

.home-form-card-band{
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 15pt;
    color: #8C7B74;
    background-color:  #D3A682;
    text-transform: uppercase;
    text-align: center;
}

.home-form-card-form{
    font-family: 'IM Fell Great Primer SC', serif;
    color: #5E615C;
}

#map{
    width: 100%;
    height: 700px;
}

.home-constructions-title{
    background-color: #83867E ;
}

.push-down-30 {
    margin-top: 30px;
}

.push-down-60{
    margin-top: 60px;
}

.push-down-90{
    margin-top: 90px;
}

.home-avatars{
    background-color: #DDCDB0;
    height: 555px;
    margin-top: 25px;
}

.hexagon{
    width: 150px;
    height: 160px;
    background: #1e90ff;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center;
}

.thumb-home{
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumb-home a {
    cursor: pointer;
}

.img-title {
    position: absolute;
    top: 0;
    margin-top: 15px;
    height: 160px;
    width: 160px;
    text-align: center;
    display: none;
    background-color: rgba(29, 33, 33, 0.6);
}

.img-title h5 {
    position: absolute;
    color: #fff;
    top: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 12pt;
    padding: 30px;
}

@media screen and (min-width: 768px) {

	.modal-thumb-home .modal-dialog  {width:900px;}

}

.modal-thumb-home .modal-dialog  {width:80%;}

.modal-content {border-radius: 0px;}

.home-gallery{
    margin-top: -15px;
    height: 750px;
    overflow-y: scroll;
}

.home-gallery::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

.home-gallery::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.home-gallery::-webkit-scrollbar-thumb
{
	background-color: #bababa;
	border-radius: 6px;
}

.home-separator{
    height: 100px;
    background-color: #E3E3DD;
}

.home-text-ideology{
    font-family: 'Share Tech Mono', sans-serif;
    color: #5E615C;
    padding: 10px;
    font-size: 14pt;
    text-align: justify;
}

.home-themes{
    font-family: 'Share Tech Mono', sans-serif;
    color: #5E615C;
}

.home-theme-title{
    text-align: center;
    margin-top: 15px;
    font-size: 16pt;
}

.home-theme-text{
    text-align: center;
    margin-top: 15px;
    font-size: 14pt;
}

.home-themes hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 3px solid #eee;
}

.sponsors{
    border-top-color: #E3E3DD;
    border-top-width: 5pt;
    border-top-style: solid;
    color:#5E615C;
    font-family: 'Share Tech Mono', sans-serif ;
    font-size: 18pt;
}

.logo-sponsors-space{
    position: relative;
    line-height: 300px;
    height:300px;
}

.logo-sponsors{
    position: relative;
    display: inline;
    vertical-align: middle;
}

.footer{
    background-color: #5E615C;
    border-top-color: #E3E3DD;
    border-top-width: 5pt;
    border-top-style: solid;
    border-bottom-color: #E3E3DD;
    border-bottom-width: 10pt;
    border-bottom-style: solid;
}

.footer-contact{
    display: table !important;
    height: 300px;
    width: 100%;
}

.footer-contact-text{
    display: table-cell !important;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 14pt;
    color: #FFFFFF;
    vertical-align: middle;
}

.footer> a:focus, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-social-images{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}